*{
    color: whitesmoke;
    font-family: 'Gugi', cursive;

}
h1{
    text-align: center;
    font-size: 50px;

}
h2{
    font-size: 35px;
}
#container{
    display: block;
}
div{
    display: inline-block;
}
table{
    margin: auto;
    font-weight: bold;
}
thead{
    font-weight: bold;
}
tbody> tr> td{
    border-radius: 13px;
}
#datosAnimalesContainer tr,td{
    border: 2px solid white;
    padding: 5px;
}

#visitantesContainer{
    float: left;
    text-align: center;
    width: 50%;
}
#datosAnimalesContainer{
    float: right;
    text-align: center;
    width: 50%;
}
.areaContainer{
    width: 50%;
}
#blur{
    height: 100%;
    background-repeat: no-repeat;
    /* background: url(/img/bg.jpg) no-repeat center center fixed;
    background-size: 100% 100%; */
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
    position: absolute;
    top: 0px;
    left: 0px;;
    width: 100%;
    height: 100%;
    /* filter: blur(8px); */
    z-index: -1000;
}
#eventContainer{
    width: 90%;
    overflow: scroll;
    max-height: 137px;
    overflow-x: hidden;
}
#eventContainer table{
    width: 100%;
}
#eventContainer table td{
    border: 1px solid white;
}
.iconTd{
    width: 15%;
}
